<div class="filter">
    <div class="back">
        <form #form="ngForm" (ngSubmit)="onFilter(form)">
            <label for="gender">Gender</label>
            <select name="gender" id="gender" [ngModel] = "'none'">
                <option value="none">none</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>

            <label for="city">City</label>
            <select name="city" id="city" [ngModel] = "'none'">
                <option value="none">none</option>
                <option *ngFor = "let city of cities" [value]="city">{{city}}</option>
            </select>

            <label for="country">Country</label>
            <select name="country" id="country" [ngModel] = "'none'">
                <option value="none">none</option>
                <option *ngFor = "let country of countries" [value]="country">{{country}}</option>
            </select>

            <div class="btn-group-filter">
                <button type="button" id="cancel" (click) = "cancel()">Cancel</button>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>